
.App{ 
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
}

.wrapper{
  display: flex;
  position: absolute;
  width: 85%;
  justify-content: center;
  align-items: center;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.side-nav{
  height:485px;
  flex:10%;
  background-color: #313131e6;
  display: flex;
  flex-direction: column;
}

.profile-pic{
  height:550px;
  letter-spacing: 2px;
  flex:40%;
  background-color: #3c3c3ce6;
  position: relative;
}

.content{
  height:485px;
  flex: 50%;
  background-color: #313131e6;
  display: flex;
  justify-content: center;
}